<ng-container *ngIf="dataShowOnScreen$ | async as users">
  <cdk-virtual-scroll-viewport
    itemSize="50"
    class="user-viewport"
    (scrolledIndexChange)="nextData($event, users[users.length - 1].id)"
  >
    <div
      *cdkVirtualFor="
        let user of users;
        let i = index;
        trackBy: trackByIdx;
        let odd = odd
      "
      [class.bg-odd]="odd"
      class="list-user"
    >
      <div class="user-item-detail">ID: {{ user.id }}</div>
      <div class="user-item-detail">Name: {{ user.name }}</div>
      <div class="user-item-detail">Gender: {{ user.gender }}</div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-container>
