
.user-viewport {
  height: 100vh;
  width: 100%;
  border: 1px solid black;
}

.list-user{
  // padding: 20px;
}

.bg-odd{
  background: rgba(127, 127, 127, 0.3);
}
.user-item-detail{
  height: 18px;
  padding: 5px 0;
}


