<!-- <label for="date" [formGroup]='formReactDate'>
  <input
    type="text"
    id='date'
    (blur)="checkBlur($event)"
    (input)="checkInput($event)"
    (keyup)="keyup($event)"
    [formControlName]="'date'"
    [ngStyle]="{'width.px': inputWidth}"
  />
</label> -->
<form >
  <label for="date">Date</label>
  <input
    type="text"
    id='date'
    (blur)="showDateValid($event)"
    (input)="setFomatDate($event)"
    (keyup)="setWidthInput($event)"
    [ngStyle]="{'width.px': inputWidth}"
    placeholder="MM/ DD/ YYYY"
  />
  <div> MM/ DD/ YYYY</div>
  <small>Enter date as Month / Day / Year</small>
</form>
